body {
    background-image: url(background90.png);
    background-color: #fae630;
    overflow-x: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -3px;
}

.maintodo {
    background-color: #00bfc3;
    border: 2px solid black;
    padding: 5px 20px 10px 20px;
}

.form-control {
    background-color: #ff2273;
    border: 2px solid black;
    color: white;
    padding: 15px 10px 15px 10px;
    font-family: "dita", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    background-color: #4e22ff;
    border: 2px solid black;
    box-shadow: none;
    color: white;
}

.btnside {
    background-color: #fae630;
    color: black;
    border: 2px solid black;
    /* padding:10px 0px 14px; */
}

.btnside:hover {
    background-color: #fff27e;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    /* duration and easing */
    transform: scale(1.05);
    /* smooth enlargement */
}

.btncheck {
    background-color: #fae630;
    color: black;
    border: 2px solid black;
}

.btncheck:hover {
    background-color: #ff2273;
    border: 2px solid black;
    box-shadow: none;
    color: white;
}

.taskback {
    background-color: #4e22ff;
    border: 2px solid black;
    margin: 4px 0px 4px;
    color: white;
}

.taskback:hover {
    background: #001f1f;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    /* duration and easing */
    transform: scale(1.05);
    /* smooth enlargement */
}

h1 {
    font-family: "industry-inc-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 60px;
}

.h2text {
    font-size: 15px;
    font-family: "dita", sans-serif;
    font-weight: 400;
    font-style: normal;
}