body {
    background-image: url(background90.png);
    background-color: #fae630;
    overflow-x: hidden;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: -3px;
}

.maintodo {
    background-color: #00bfc3;
    border: 2px solid black;
    padding: 5px 20px 10px 20px;
}

.form-control {
    background-color: #4e22ff;
    border: 2px solid black;
    color: white;
    padding: 15px 10px 15px 10px;
    font-family: "dita", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-control::placeholder {
    color: white;
}

.form-control:focus {
    background-color: #4e22ff;
    border: 2px solid black;
    box-shadow: none;
    color: white;
} 

.btnside {
    background-color: #fae630;
    color: black;
    border: 2px solid black;
    height:100%;
}

.btnside:hover {
    background-color: #fff27e;
    color: black;
    transition: all 0.3s ease-in-out;
    /* duration and easing */
    transform: scale(1.05);
    /* smooth enlargement */
    box-shadow: 3px 3px 0px black;
}

.btncheck {
    background-color: #fae630;
    color: black;
    border: 2px solid black;
}

.btncheck:hover {
    background-color: #ff2273;
    border: 2px solid black;
    box-shadow: none;
    color: white;
}

.taskback {
    background-color: #ff2273;
    border: 2px solid black !important;
    margin: 4px 0px 4px;
    color: white;
    animation: popIn 0.25s ease-out;
}

@keyframes popIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.taskback:hover {
    background: #001f1f;
    transition: all 0.3s ease-in-out;
}

h1 {
    font-family: "industry-inc-stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 60px;
}

.h2text {
    font-size: 15px;
    font-family: "dita", sans-serif;
    font-weight: 400;
    font-style: normal;
}